<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Gapminder!</title>
</head>
<body>
  <form>
    <div>
      <label for="key">Datasets</label>
      <select id="key" name="key">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </div>

    <hr />

    <div>
      <label for="year">Year</label>
      <select id="year" name="year">
      </select>

      <label for="country">Country</label>
      <select id="country" name="country">
      </select>
    </div>
  </form>

  <hr />
  <div id="results"></div>

  <script>
    var input-keys = document.getElementById('key');

    
  </script>
</body>
</html>

